.telMail{
    color: white;
    background-color: #0b4f48a2;
    width: auto;
    height: 13rem;
    font-family: 'Lato',sans-serif;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.5rem;
    border: 5px dotted black;
}
.formulario{
    font-family: 'Lato',sans-serif;
    font-size: 1.5rem;
    background-color: #0b4f48a2;
    width: 40rem;
    height: auto;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}